body {
    background-color: #c4c1cd !important;
}


/* Overwrite Bootstrap dark navbar background with gradient */
.custom-navbar {
  background: linear-gradient(90deg, #5577aa, #37166d);
}

/* Adjust navbar height and spacing */
.custom-navbar .nav-link {
  padding: 8px 15px;
  font-size: 1rem;
}

/* Override Bootstrap buttons */
.btn-outline-light {
  border-color: white;
  color: white;
}

.btn-outline-light:hover {
  background-color: white;
  color: #0d6efd;
}

.btn-light {
  background-color: white;
  border: none;
}

.btn-light:hover {
  background-color: #e6e6e6;
}

/* Marquee container */
